body {
    background-color: #ccc;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #ffffff;
    height: 60px;
    padding: 10px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 125px;
    height: 32px;
    background: url("../assets/logo.png") no-repeat;
}

.menu {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    color: #18a0fb;
    font-size: 15px;
    font-weight: 500;
}

.menu-item {
    padding: 10px 20px;
}

.loginBtn {
    justify-self: flex-end;
    padding: 11px 42px;
    border-radius: 6px;
    border: 1px solid #18a0fb;
    background-color: #ffffff;
    color: #18a0fb;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
}
